body{
    background-color: rgb(191, 196, 196);
}
#IMP{
    color: brown;
    background-color: cornsilk;
}
#IM{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}